*{ 
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(GrayWolf.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{

    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.Logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    

}

.menu{
    width: 360px;
    float: left;
    height: 70px;

}

ul{
    float: left;
    display: flex;
    justify-content: center ;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
      color: #ff7200;
}

.search{
    width: 330px;
    float: right;
    margin: 12px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 30px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    width: 100px;
    height: 30px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;


}

.btn :focus{
    outline: none;
}

.srch :focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;

}
.t1{
    color: lightcoral;
}
.content p{
    color: #fff;
    padding-left: 25px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 0.5px;
    line-height: 20px;
}
.content h2{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9px;
    letter-spacing: 2px;

}

.content .JU{
    width: 120px;
    height: 20px;
    background-color: aqua;
    border: none;
    transition: 0.4 ease;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;


}
.content .JU:hover{
    background-color: palevioletred;
}
.content span{
    color: lightseagreen;

}

.form{
    width: 250px;
    height: 350px;
    background : linear-gradient( to top, rgba(0,0,0,0.8)50% ,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -10px;
    left: 890px;
    border-radius: 20px;
    padding: 20px;

}
.form h3{
    width: 220px;
    font-family: sans-serif;
    color: #ff7200;
    font-size: 22px;
    text-align: center;
    border-radius: 18px;
    margin: 8px;
    padding: 2px;
    background-color: #fff;
}
.form input{
    width: 260px;
    height: 35px;
    background: transparent;
    border-bottom : 1px solid #ff7200;
    border-top: none;
    border-left: none;
    border-right: none;
    color: aliceblue;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: aqua;
}
.btnn{
    width: 230px;
    height: 40px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    margin-top: 30px;
    background: #ff7200;
    border: none;
    border-radius: 18px;
}

.form .si{
    color: #ff7200;
    padding-top: 15px;
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 35px;
}
.liw{
    margin-left: 50px;
}
.icon a{
    text-decoration: none;
    color: #fff;
}
.icon ion-icon{
    color: #fff;
    font-size: 20px;
    padding-left: 16px;
    padding-bottom: 15px;
    margin-left: 20px;
    transition: 0.3s ease;
}
.icon ion-icon:hover{
    color: #ff7200;
}
